:root {
    --sidebar-width: 320px;
    --sidebar-width-collapsed: 60px;
}

* {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
    margin: 0;
    padding: 0;
}

*, li, a {
    font-family: inter, sans-serif;
}

body, html {
    background-color: #F9FAF8;
}

.h-50 {
    height: 50vh;
}

.w-50 {
    width: 50vw;
}