.custom-marker-icon {
  width: 32px;
  height: 32px;
  border-radius: 50% 50% 50% 0;
  transform: rotate(-45deg);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border: 2px solid white;
  cursor: pointer;
}

.custom-marker-icon:hover {
  width: 34px;
  height: 34px;
  box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.3);
}

.map-marker-icon {
  font-size: 16px;
  color: #ffff;
  transform: rotate(45deg);
}

.txt-infowindow {
  white-space: nowrap;
}

.info-window-content-map {
  padding: 1rem;
  font-size: 14px;
  line-height: 1.6;
  min-width: 320px;
}

.info-window-content-map h3 {
  margin: 0 0 10px;
  font-size: 16px;
  font-weight: 700;
  color: #333;
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
}

.info-window-content-map p {
  margin: 5px 0;
}

.map-container {
  width: 100%;
}

.map-sduh {
  height: calc(100vh - 206px);
}

.map-cidadao,
.map-municipal {
  height: calc(100vh - 150px);
}
.map-sduh_mgr {
  height: calc(100vh - 209px);
}

.container-last-updated-map {
  position: absolute;
  right: 10px;
  z-index: 1;
  margin-top: 10px;
  padding: 5px;
  background-color: #fdfdfdad;
  color: #000000;
  box-shadow: 1px 1px 3px 0px black;
  border-radius: 5px;
}

.item-info-title-map {
  font-weight: 500;
}

.card-item.card-item-endereco-map {
  height: auto;
  overflow: visible;
}

.card-info-item-url {
  background-color: #dc2626;
  color: #ffff;
  padding: 3px 15px;
  border-radius: 11px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: auto;
}

.bg-street-view {
  background-color: #fdbf2d !important;
  height: 30px;
}

.card-map-infos .card-map-item {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  background-color: #f9fafb;
  width: 100%;
}
.card-map-infos {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-map-infos .card-map-item-infos .label {
  font-size: 10px;
}

.card-map-infos .card-map-item-infos .value {
  font-weight: 400;
  font-size: 14px;
}

.card-map-infos .container-icone-card-map .icon-card-report-item {
  padding-top: 2px;
  font-size: 16px;
}

.card-map-infos-more {
  background-color: #f9fafb;
  padding: 0.5rem;
  width: 100%;
}

.card-map-infos-more .label {
  font-size: 10px;
}
.card-map-infos-more .value {
  font-size: 16px;
}

.tab-2 {
  display: none;
}

.item-endereco-map {
  background-color: #f9fafb;
  padding: 0.5rem;
  display: flex;
  align-items: center;
}

.item-alerta-map {
  background-color: #f9fafb;
  padding: 0.5rem;
  box-shadow: 0px 5px 5px 0px #b3b3b3;
}

.item-street-view {
  white-space: nowrap;
  padding: 5px;
}

.card-body-atendimentos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item-alerta-infos {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding-bottom: 2px;
}

.alerta-item {
  max-height: 200px;
  overflow: auto;
}

.item-alerta .label {
  font-size: 10px;
}

.item-alerta .value {
  font-weight: 600;
}
