.menu-y {
     background-color: #ffff;
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    transition: width 0.3s ease;
    width: var(--sidebar-width);
    position: fixed;
    left: 0;
    display: flex;
    flex-direction: column;
}

.menu-title {
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.collapsed .menu-title {
    justify-content: center !important;
}

.expand-bars-icon {
    cursor: pointer;
    color: #4B5563;
}

.expand-bars-icon:hover {
    color: #000000;
}

.menu-x {

}